In [10]:
import numpy as np
import pandas as pd

In [11]:
a = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]],[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(a)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]

 [[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [12]:
print(a[:,:,0])

[[ 1  4]
 [ 7 10]
 [ 1  4]
 [ 7 10]]

In [44]:
tabel = pd.DataFrame(columns =['id','date','city','category','age','price'])

In [45]:
insert_row = pd.DataFrame([[0.,0.,0.,0.,0.,0.]],columns =['id','date','city','category','age','price'])

In [48]:
tabel.loc[0]=[0.,0.,0.,0.,0.,0.]
tabel

    id  date  city  category  age  price
0  0.0   0.0   0.0       0.0  0.0    0.0

In [36]:
insert_row2 = pd.DataFrame([[1.,1.,1.,1.,1.,1.]],columns =['id','date','city','category','age','price'])

In [53]:
tabel.loc[1]=[1.,2.,3.,4.,5.,6.]
tabel

    id  date  city  category  age  price
0  0.0   0.0   0.0       0.0  0.0    0.0
1  1.0   2.0   3.0       4.0  5.0    6.0